body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Guide-to-Healthy-Smoothie-Recipes.png");
}

a {
  color: #00B7FF;
}

.login img {
  height: 20px;
}

.logout img {
  height: 20px;
}

