
<%- include('../partials/header') %>
<div class="container">
<img src="https://imgur.com/MBrirtR" alt="smoothies" style="width: auto;">
<div class="centered"></div>
</div>
<%- include('../partials/footer') %>