
<%- include('../partials/header') %>
<div class="container">
<img src="https://imgur.com/vUtLEW4.jpg" alt="smoothies" style="width: auto;">
<div class="centered"></div>
</div>
<%- include('../partials/footer') %>