<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smoothies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/recipes/new">Add Recipe</a> |
    <a href="/">Home</a>
    <h1>All Recipes</h1>
    <h2>Organic, healthy, delicious</h2>
    <table id="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Recipe</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% recipe.forEach(function(s) { %>
            <tr>
                <td><%= s.name %></td>
                <td><%= s.recipe %></td>
                <td><%= s.description %></td>
                <td><a href="/recipes/<%= s._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>