<%- include('../partials/header') %>
<form action="/recipes" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Recipe:</label>
    <input type="text" name="recipe">
    <label>Description:</label>
    <input type="text" name="description">
    <button type="submit">ADD RECIPE</button>
</form>
<%- include('../partials/footer') %>