<%- include('../partials/header') %>
<h1>Add New Delicious Recipe/s</h1>
<form id="new-form" action="/recipes" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Ingredients:</label>
    <input type="text" name="ingredients">
    <label>How to make:</label>
    <input type="text" name="how to make">
    <label>Image:</label>
    <input type="img" name="image">
</form>
<%- include('../partials/footer') %>